@model TestCinema.DBModels.Movy

@{
    ViewBag.Title = "DetailsMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style=" position: center;
        padding: 100px;
        text-align: center;
        background-color: whitesmoke;
        font-size:100px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-size-adjust: 200% auto;">DetailsMovie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <text>Image</text>
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditMovie", new { id = Model.MovieId }, new { @class = "btn btn-info btn-large" }) |
    @Html.ActionLink("Back to List", "Movies",null, new { @class = "btn btn-info btn-large" })
</p>
