@model IEnumerable<TestCinema.DBModels.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style=" position: center;
        padding: 100px;
        text-align: center;
        background-color: whitesmoke;
        font-size:100px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-size-adjust: 200% auto;">Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateUser",null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id = item.UserId }, new { @class = "btn btn-info btn-large" }) 
            @Html.ActionLink("Details", "DetailsUser", new { id = item.UserId }, new { @class = "btn btn-info btn-large" }) 
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId }, new { @class = "btn btn-info btn-large" })
        </td>
    </tr>
}

</table>
