@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
    </ul>

}
else if((string)Session["Email"] != "admin@gmail.com")
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi, "+ Session["Email"], "UserReservations", "Booking", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
    </ul>

}
else{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi, Boss " + Session["Email"], "Index", "Admin", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
    </ul>
}
